<!-- proyectoDjango/templates/gestorpass/passwordentry_detail.html -->

{% extends "base.html" %}

{% block content %}
  <h1>{{ password_entry.title }}</h1>
  <p>Usuario: {{ password_entry.username }}</p>
  <p>Contraseña: {{ password_entry.password }}</p>
  <p>URL: {{ password_entry.url }}</p>
  <!-- Otros campos según tu modelo -->
  <a href="{% url 'passwordentry_list' %}">Volver a la lista</a>
  <a href="{% url 'passwordentry_update' password_entry.id %}">Editar</a>
  <a href="{% url 'passwordentry_delete' password_entry.id %}">Eliminar</a>
{% endblock %}